<div class="container-fluid">
    <div class="area">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="container">
            <div class="row mt-5">
              <div class="col"></div>
              <div class="col-4">
                <div class="card shadow">
                  <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <h4 class="text-dark text-muted">Forgot Password</h4>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email">
                      </div>
                      <button type="button" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
                      <div class="row">
                        <div class="col-md-6">
                          <a href="/login" style="text-decoration: none;">Back to <span class="text-danger">Login</span></a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>          

<!----- Content ------>
<div class="content">
    <h1><i class="fa-solid fa-hotel"> LodgiGo</i></h1>
    <br>
    <p class="par">Experience the ultimate travel companion with LodgiGo!<br>
      Discover a world of possibilities and embark on unforget<br>table journeys.
      Whether you're seeking a tranquil escape<br>a vibrant city adventure
      or a cozy home away from home<br>
      LodgiGo is here to make your travel dreams a reality.</p>
  
    <button class="cn"><a routerLink="/home">Visit Now</a></button>
  </div>